@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root { 
    --font-standard: 'Montserrat', Geneva, Tahoma, sans-serif;
    --font-tittle: 'Passion One', cursive;
    --font-conteudo: "Sriracha", cursive;
    --color1: #000000;
    --color2: #ffffff;
    --colorimg: #202020;
}

html, header {
    min-width: 100%;
    font-family: var(--font-standard);
}

.header {
    background-color: var(--color1);
    color: var(--color2);;
    text-align: center;
    box-shadow: 5px 6px 10px 0px rgba(0, 0, 0, 0.219)
    
}
.header h1 {
    font-family: var(--font-tittle);
    font-size: 2.7em;
    font-variant: small-caps;
    padding-top: 45px;
    
}
header > p {
    color: var(--color2);
    padding: 0px 0px 45px;
    font-family: var(--font-standard);
    font-size: 1.2em;
    font-weight: normal;
}

a {
    color: var(--color2);
    text-decoration: none;
    font-family: var(--font-standard);
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh 35px;
    line-height: 2em;
    font-family: var(--font-conteudo);
    font-size: 1.1em;
}
 section > p {
    padding-bottom: 2em;
 }

.imagem {
    background-color: var(--colorimg);
    color: var(--color2);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.4) ;
    background-size: cover;
    background-attachment: fixed;
}

.imagem > p{ 
    display: inline-block;
    padding: 15px;
    text-shadow: 1px 1px 0px #000000;
    background-color: #1a1a1a81;
}

 section#img01 {
    background-image: url(../images/background001.jpg);
    background-position: right center;
 }

 section#img02 {
    background-image: url(../images/background002.jpg);
    background-position: right center;
 }

.footer {
    background-color: var(--color1);
    color: var(--color2);
    text-align: center;
    padding: 12px;
    font-weight: normal;
}